<p> {{ 'text' | t   }} </p>

{% for block in section.blocks %}
    {% if block.type == 'paragraph' %}
        <p>{{ block.settings.text }}</p>
    {% endif %}
{% endfor %}

<h1 style=" color:{{ section.settings.color }};">{{ section.settings.text }}</h1>

{% for block in section.blocks %}
    {% if block.type == 'social' %}
        <a href="{{ block.settings.url }}">{{ block.settings.text }}</a>

    {% elsif block.type == '@app'%}
        {% render block %}

    {% endif %}
{% endfor %}

<script>
    const a = document.querySelector('#shopify-section-{{ section.id }}')
    console.log(a)
</script>

{% stylesheet %}
    .custom-section {
        background: grey;
        padding: 60px 0;
    }
{% endstylesheet %}

{% schema %}
    {
        "name": "Custom section",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "color",
                "id": "color",
                "label": "Text color",
                "default": "#000000"
            },
            {
                "type": "radio",
                "id": "input-radio",
                "label": "Radio Options",
                "options": [
                    {
                        "value": "1",
                        "label": "Option 1"
                    },
                    {
                        "value": "2",
                        "label": "Option 2"
                    }
                ], "default": "2"
            }
        ],
        "tag": "section",
        "class": "custom-section",
        "limit": 1,
        "blocks": [
            {
                "type": "@app"
            },
            {
                "name": "Social link",
                "type": "social",
                "settings": [
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Block text"
                    },
                    {
                        "type": "url",
                        "id": "url",
                        "label": "Block URL"
                    }
                ]
            },
            {
                "name": "paragraph",
                "type": "paragraph",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "text",
                        "label": "Paragaph text"
                    }
                ]
            }
        ],
        "max_blocks": 3,
        "locales": {
            "en": {
                "text": "Hello"
            },
            "es": {
                "text": "Hola"
            }
        }, 
        "default": {
            "settings": {
                "text": "Coding with Henry"
            }
        }
        // "enabled_on": {
        //     "groups": ["custom.special"]
        // }
    }
{% endschema %}