
  
  
      <style>
        @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-492600642427159430 .-translate-y-1\/2,.gps-492600642427159430 .mobile\:-translate-y-1\/2,.gps-492600642427159430 .mobile\:rotate-0,.gps-492600642427159430 .mobile\:rotate-180,.gps-492600642427159430 .mobile\:translate-x-0,.gps-492600642427159430 .mobile\:translate-y-1\/2,.gps-492600642427159430 .rotate-0,.gps-492600642427159430 .rotate-180,.gps-492600642427159430 .tablet\:-translate-y-1\/2,.gps-492600642427159430 .tablet\:rotate-0,.gps-492600642427159430 .tablet\:rotate-180,.gps-492600642427159430 .tablet\:translate-x-0,.gps-492600642427159430 .tablet\:translate-y-1\/2,.gps-492600642427159430 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-492600642427159430 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-492600642427159430 .pointer-events-auto{pointer-events:auto}.gps-492600642427159430 .invisible{visibility:hidden}.gps-492600642427159430 .absolute{position:absolute}.gps-492600642427159430 .relative{position:relative}.gps-492600642427159430 .bottom-1\/2{bottom:50%}.gps-492600642427159430 .left-4{left:16px}.gps-492600642427159430 .right-4{right:16px}.gps-492600642427159430 .top-1\/2{top:50%}.gps-492600642427159430 .z-1{z-index:1}.gps-492600642427159430 .z-2{z-index:2}.gps-492600642427159430 .mx-auto{margin-left:auto;margin-right:auto}.gps-492600642427159430 .my-0{margin-bottom:0;margin-top:0}.gps-492600642427159430 .mb-0{margin-bottom:0}.gps-492600642427159430 .mt-2{margin-top:8px}.gps-492600642427159430 .block{display:block}.gps-492600642427159430 .\!inline{display:inline!important}.gps-492600642427159430 .flex{display:flex}.gps-492600642427159430 .inline-flex{display:inline-flex}.gps-492600642427159430 .grid{display:grid}.gps-492600642427159430 .hidden{display:none}.gps-492600642427159430 .aspect-square{aspect-ratio:1/1}.gps-492600642427159430 .h-5{height:20px}.gps-492600642427159430 .h-6{height:24px}.gps-492600642427159430 .h-full{height:100%}.gps-492600642427159430 .w-5{width:20px}.gps-492600642427159430 .w-6{width:24px}.gps-492600642427159430 .w-\[12px\]{width:12px}.gps-492600642427159430 .w-full{width:100%}.gps-492600642427159430 .max-w-full{max-width:100%}.gps-492600642427159430 .shrink-0{flex-shrink:0}.gps-492600642427159430 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-492600642427159430 .-translate-y-1\/2,.gps-492600642427159430 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .translate-y-1\/2{--tw-translate-y:50%}.gps-492600642427159430 .rotate-0{--tw-rotate:0deg}.gps-492600642427159430 .rotate-0,.gps-492600642427159430 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .rotate-180{--tw-rotate:180deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-492600642427159430 .animate-spin{animation:spin 1s linear infinite}.gps-492600642427159430 .cursor-pointer{cursor:pointer}.gps-492600642427159430 .flex-row{flex-direction:row}.gps-492600642427159430 .flex-col{flex-direction:column}.gps-492600642427159430 .items-center{align-items:center}.gps-492600642427159430 .justify-center{justify-content:center}.gps-492600642427159430 .gap-2{gap:8px}.gps-492600642427159430 .gap-y-0{row-gap:0}.gps-492600642427159430 .overflow-hidden{overflow:hidden}.gps-492600642427159430 .break-words{overflow-wrap:break-word}.gps-492600642427159430 .rounded-full{border-radius:9999px}.gps-492600642427159430 .rounded-none{border-radius:0}.gps-492600642427159430 .text-center{text-align:center}.gps-492600642427159430 .text-g-text-3{color:var(--g-c-text-3)}.gps-492600642427159430 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-492600642427159430 .no-underline{text-decoration-line:none}.gps-492600642427159430 .opacity-25{opacity:.25}.gps-492600642427159430 .opacity-75{opacity:.75}.gps-492600642427159430 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-492600642427159430 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600642427159430 .duration-200{transition-duration:.2s}.gps-492600642427159430 .duration-300{transition-duration:.3s}.gps-492600642427159430 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600642427159430 .disabled\:btn-disabled:disabled{cursor:default}.gps-492600642427159430 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-492600642427159430 .disabled\:cursor-default:disabled{cursor:default}.gps-492600642427159430 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-492600642427159430 .disabled\:opacity-30:disabled{opacity:.3}.gps-492600642427159430 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-492600642427159430 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-492600642427159430 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-492600642427159430 .tablet\:bottom-1\/2{bottom:50%}.gps-492600642427159430 .tablet\:left-4{left:16px}.gps-492600642427159430 .tablet\:right-4{right:16px}.gps-492600642427159430 .tablet\:top-1\/2{top:50%}.gps-492600642427159430 .tablet\:mt-2{margin-top:8px}.gps-492600642427159430 .tablet\:block{display:block}.gps-492600642427159430 .tablet\:\!inline{display:inline!important}.gps-492600642427159430 .tablet\:\!hidden{display:none!important}.gps-492600642427159430 .tablet\:w-full{width:100%}.gps-492600642427159430 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-492600642427159430 .tablet\:-translate-y-1\/2,.gps-492600642427159430 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-492600642427159430 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-492600642427159430 .tablet\:rotate-0,.gps-492600642427159430 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .tablet\:rotate-0{--tw-rotate:0deg}.gps-492600642427159430 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .tablet\:flex-row{flex-direction:row}.gps-492600642427159430 .tablet\:px-0{padding-left:0;padding-right:0}.gps-492600642427159430 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-492600642427159430 .mobile\:bottom-1\/2{bottom:50%}.gps-492600642427159430 .mobile\:left-4{left:16px}.gps-492600642427159430 .mobile\:right-4{right:16px}.gps-492600642427159430 .mobile\:top-1\/2{top:50%}.gps-492600642427159430 .mobile\:mt-2{margin-top:8px}.gps-492600642427159430 .mobile\:block{display:block}.gps-492600642427159430 .mobile\:\!inline{display:inline!important}.gps-492600642427159430 .mobile\:\!hidden{display:none!important}.gps-492600642427159430 .mobile\:w-full{width:100%}.gps-492600642427159430 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-492600642427159430 .mobile\:-translate-y-1\/2,.gps-492600642427159430 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-492600642427159430 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-492600642427159430 .mobile\:rotate-0,.gps-492600642427159430 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .mobile\:rotate-0{--tw-rotate:0deg}.gps-492600642427159430 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600642427159430 .mobile\:flex-row{flex-direction:row}.gps-492600642427159430 .mobile\:px-0{padding-left:0;padding-right:0}.gps-492600642427159430 .mobile\:pl-1{padding-left:4px}}.gps-492600642427159430 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492600642427159430 .\[\&_p\]\:inline p{display:inline}.gps-492600642427159430 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-492600642427159430 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492600642427159430 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gAqVP45JwF"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAqVP45JwF mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gqxZ89bO13 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gGS8Kr9WCE"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGS8Kr9WCE mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAg6Vtb7e1 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXK3ACGxKO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:352px;--pt:64px;--pl:15px;--pr:15px;--mt-mobile:0px;--mb-mobile:113px;--pt-mobile:56px;--pl-mobile:15px;--pr-mobile:15px;--mt-tablet:0px;--mb-tablet:352px;--pt-tablet:64px;--pl-tablet:15px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXK3ACGxKO mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1kDo4rpB5 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4R_09feH6"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:66%;--w-tablet:66%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4R_09feH6 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUo4Lk16kA relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="g_zo5-_n61 ">
      
    <div
      parentTag="Col"
        class="g_zo5-_n61 "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word"
        >
        <p>Hear music like never before</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gK22-as_nk "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6B6B;word-break:break-word"
        >
        <p>Our Extra-Bass technology brings you deep and punchy bass that can satisfy any EDM, hip-hop or rock fans. This feature can be turned off when unnecessary or making a call. We offer a 30-day trial for every pair of headphones sold - be fully satisfied or return the product without hassle.&nbsp;</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gBiocJzJ74"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:-336px;--mb:var(--g-s-3xl);--pl:15px;--pr:15px;--mt-mobile:-77px;--mb-mobile:var(--g-s-3xl);--pl-mobile:15px;--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBiocJzJ74 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0QM241JU- relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image g0fSzHBneF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/5cc693e5-9791-43c5-97eb-94b2cbfae6d2/-/format/auto/-/preview/1440x1440/-/quality/lighter/" data-srcset="https://ucarecdn.com/5cc693e5-9791-43c5-97eb-94b2cbfae6d2/-/format/auto/-/preview/1440x1440/-/quality/lighter/ 768w,https://ucarecdn.com/5cc693e5-9791-43c5-97eb-94b2cbfae6d2/-/format/auto/-/preview/1440x1440/-/quality/lighter/ 1024w,https://ucarecdn.com/5cc693e5-9791-43c5-97eb-94b2cbfae6d2/-/format/auto/-/preview/1440x1440/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1440" height="684" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1440/684;--aspect-tablet:1440/684;--aspect-mobile:1440/684;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gVQh3IPKPK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:var(--g-s-3xl);--pt:0px;--pl:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVQh3IPKPK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gl7EYtDDyV relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gosBFhaya0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:68%;--w-tablet:66%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gosBFhaya0 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPTz5l_mB9 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="g31KYOeYRQ ">
      
    <div
      parentTag="Col"
        class="g31KYOeYRQ "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word"
        >
        <p>Cancel out noise for a distraction-free experience</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gv-zErrvlY "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6B6B;word-break:break-word"
        >
        <p>With active noise cancellation and closed-back design, the Gemo Wireless Headphones V2 capture every audio detail and deliver them without any exterior interference.&nbsp;<br>Just hit the noise cancellation button and truly immerse in music wherever you are - in the subway, a busy workplace or a crowded restaurant.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g9__w17i1z"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:64px;--pl:0px;--pr:0px;--pl-tablet:15px;--pr-tablet:15px;--cg:64px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9__w17i1z mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw3tDRbtR_ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gPjBirWHXm"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:64px;--pl:64px;--pb:var(--g-s-3xl);--pr:64px;--mb-mobile:56px;--pt-mobile:56px;--pl-mobile:32px;--pb-mobile:var(--g-s-3xl);--pr-mobile:32px;--mb-tablet:64px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPjBirWHXm mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghlgtzPWOs relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gaUi-hX8DH ">
      
    <div
      parentTag="Col"
        class="gaUi-hX8DH "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word"
        >
        <p>30+ hours of wireless playtime</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gGDmJwkTXk "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6B6B;word-break:break-word"
        >
        <p>A charge of around 4 hours gives you all day power with approximately 30 hours4 of play time, so you can keep on listening, track after track, mix after mix.</p>
        </div>
      </div>
    </div><div
    
    role="presentation"
    class="group/image gV3xubrUZR"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/38704da4-736e-4377-a65c-49d9891fee29/-/format/auto/-/preview/480x480/-/quality/lighter/" data-srcset="https://ucarecdn.com/38704da4-736e-4377-a65c-49d9891fee29/-/format/auto/-/preview/480x480/-/quality/lighter/ 768w,https://ucarecdn.com/38704da4-736e-4377-a65c-49d9891fee29/-/format/auto/-/preview/480x480/-/quality/lighter/ 1024w,https://ucarecdn.com/38704da4-736e-4377-a65c-49d9891fee29/-/format/auto/-/preview/480x480/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="480" height="244" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:480/244;--aspect-tablet:480/244;--aspect-mobile:480/244;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQlN3n_ZOm relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gXWsLmkeRT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:64px;--pl:64px;--pb:var(--g-s-xl);--pr:64px;--pt-mobile:56px;--pl-mobile:32px;--pb-mobile:var(--g-s-3xl);--pr-mobile:32px;--pt-tablet:64px;--pl-tablet:64px;--pb-tablet:var(--g-s-3xl);--pr-tablet:64px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXWsLmkeRT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4OZ5qtJzK relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image go5L-kJTs2"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/23601d2c-d8d1-4649-b5d6-aa3e2204f025/-/format/auto/-/preview/480x480/-/quality/lighter/" data-srcset="https://ucarecdn.com/23601d2c-d8d1-4649-b5d6-aa3e2204f025/-/format/auto/-/preview/480x480/-/quality/lighter/ 768w,https://ucarecdn.com/23601d2c-d8d1-4649-b5d6-aa3e2204f025/-/format/auto/-/preview/480x480/-/quality/lighter/ 1024w,https://ucarecdn.com/23601d2c-d8d1-4649-b5d6-aa3e2204f025/-/format/auto/-/preview/480x480/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="480" height="244" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:480/244;--aspect-tablet:480/244;--aspect-mobile:480/244;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;border-radius:inherit"
  />
      </div>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gysgmi6N0o ">
      
    <div
      parentTag="Col"
        class="gysgmi6N0o "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word"
        >
        <p>15 mins charging, 3 hours playback</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="g3IvshlR2X "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6B6B;word-break:break-word"
        >
        <p>If your headphones are running low on power, a 10-minute quick charge will give you up to 90 minutes of play time. Ideal if you're rushing around from place to place.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gunMBkwJOj"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gunMBkwJOj mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g__FWH2TKu relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTPHzmuUOD"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:0px;--mb:352px;--pt:64px;--pl:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:113px;--pt-mobile:56px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTPHzmuUOD mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwHjpaLx5H relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gT6QVnaEDX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:69%;--w-tablet:66%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gT6QVnaEDX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gaoCFvRPl_ relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="g7SE-K8VXw ">
      
    <div
      parentTag="Col"
        class="g7SE-K8VXw "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word"
        >
        <p>Design &amp; Colors</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="ggCwdZQE3u "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6B6B;word-break:break-word"
        >
        <p>Using premium materials, the Gemo V2 Wireless Headset is built to wear for a long time. Our soft Gemo ear cushions fit the shape of your ears perfectly. Improved with a foldable design, your headphones are as safe and secure as possible on the go. Choose your favorite out of 3 subtle colors: bright yellow, pearl white and matte black.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gFYep1dJi-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:-336px;--mb:var(--g-s-3xl);--pl:0px;--pr:0px;--mt-mobile:-77px;--mb-mobile:var(--g-s-3xl);--pl-tablet:15px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFYep1dJi- mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLP9bepmar relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-ghl7gM5LYL-{{section.id}}" class=" "  gp-data='{"id":"ghl7gM5LYL-{{section.id}}","setting":{"arrow":{"desktop":true},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":false,"autoplayTimeout":2,"childItem":["Slide 1","Slide 2"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":false,"loop":{"desktop":false},"pauseOnHover":true,"slidesToShow":{"desktop":1,"mobile":1,"tablet":1},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":16},"width":{"desktop":"300px"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block ghl7gM5LYL"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-ghl7gM5LYL-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gd7AwQ68J1"
    >
      <div
    
    role="presentation"
    class="group/image grFGnNTIXG"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/" data-srcset="https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/ 768w,https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/ 1024w,https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1600" height="760" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1600/760;--aspect-tablet:1600/760;--aspect-mobile:1600/760;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gIXbyyre6g"
    >
      <div
    
    role="presentation"
    class="group/image gG10J8Q9o_"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/" data-srcset="https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/ 768w,https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/ 1024w,https://ucarecdn.com/484aa475-5708-4097-87f5-e02f691138de/-/format/auto/-/preview/1600x1600/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="1600" height="760" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:1600/760;--aspect-tablet:1600/760;--aspect-mobile:1600/760;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back ghl7gM5LYL-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next ghl7gM5LYL-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-ghl7gM5LYL-{{section.id}} hidden flex-row w-full mt-2 tablet:!hidden tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gMkzmqZNwk"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:64px;--pl:0px;--pr:0px;--pl-tablet:15px;--pr-tablet:15px;--cg:64px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMkzmqZNwk mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_dkjOm0Bj relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gSd016x3kc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:64px;--pl:64px;--pb:var(--g-s-3xl);--pr:64px;--mb-mobile:56px;--pt-mobile:56px;--pl-mobile:32px;--pb-mobile:var(--g-s-3xl);--pr-mobile:32px;--mb-tablet:64px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSd016x3kc mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giYhIu7fv1 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="gaw4g5-QgY ">
      
    <div
      parentTag="Col"
        class="gaw4g5-QgY "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word"
        >
        <p>Certified water-resistant durability</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="g3DOhiYPgG "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6B6B;word-break:break-word"
        >
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        </div>
      </div>
    </div><div
    
    role="presentation"
    class="group/image grEU17p_7Q"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/4b679568-d80f-4b42-8c8b-8061058e4f3d/-/format/auto/-/preview/480x480/-/quality/lighter/" data-srcset="https://ucarecdn.com/4b679568-d80f-4b42-8c8b-8061058e4f3d/-/format/auto/-/preview/480x480/-/quality/lighter/ 768w,https://ucarecdn.com/4b679568-d80f-4b42-8c8b-8061058e4f3d/-/format/auto/-/preview/480x480/-/quality/lighter/ 1024w,https://ucarecdn.com/4b679568-d80f-4b42-8c8b-8061058e4f3d/-/format/auto/-/preview/480x480/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="480" height="244" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:480/244;--aspect-tablet:480/244;--aspect-mobile:480/244;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6q1zeA4AV relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNPfKVp1q2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:64px;--pl:64px;--pb:72px;--pr:64px;--pt-mobile:56px;--pl-mobile:32px;--pb-mobile:var(--g-s-3xl);--pr-mobile:32px;--pt-tablet:64px;--pl-tablet:64px;--pb-tablet:var(--g-s-3xl);--pr-tablet:64px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F9F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNPfKVp1q2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gkYD57DCH2 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gl0Vz2Ur9F"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/3d857cfb-3bdc-4362-9fa8-1022e6ddf423/-/format/auto/-/preview/480x480/-/quality/lighter/" data-srcset="https://ucarecdn.com/3d857cfb-3bdc-4362-9fa8-1022e6ddf423/-/format/auto/-/preview/480x480/-/quality/lighter/ 768w,https://ucarecdn.com/3d857cfb-3bdc-4362-9fa8-1022e6ddf423/-/format/auto/-/preview/480x480/-/quality/lighter/ 1024w,https://ucarecdn.com/3d857cfb-3bdc-4362-9fa8-1022e6ddf423/-/format/auto/-/preview/480x480/-/quality/lighter/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="480" height="244" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:480/244;--aspect-tablet:480/244;--aspect-mobile:480/244;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)" class="guVSTggqQF ">
      
    <div
      parentTag="Col"
        class="guVSTggqQF "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:150%;--size:32px;--size-tablet:32px;--size-mobile:24px;--c:#343434;word-break:break-word"
        >
        <p>Intuitive control buttons</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="gPyc0frwmM "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#6B6B6B;word-break:break-word"
        >
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="glazGotNOq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glazGotNOq mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g00Hf-QntH relative flex flex-col"
    >
      <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class=""
  >
    <style>
    .gqP-sZvZuz.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
    }

    .gqP-sZvZuz:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gqP-sZvZuz" aria-label="ORDER NOW"
      data-state="idle"
      class="gqP-sZvZuz gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3"
      style="--hvr-bg:#1073C9;--bg:#1282E2;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:95px;--pr:95px;--pt:18px;--pb:18px;--pl-tablet:95px;--pr-tablet:95px;--pt-tablet:18px;--pb-tablet:18px;--pl-mobile:95px;--pr-mobile:95px;--pt-mobile:18px;--pb-mobile:18px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:600;--ls:normal;--lh:150%;--size:24px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="inline-flex shrink-0 items-center justify-center group-data-[state=loading]:invisible z-1"
        style="--mr:8px;--w:1em"
      > <svg width="52" height="26" viewBox="0 0 52 26" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.66099 13.0006L3.09161 7.00018C2.86228 6.77143 2.86228 6.40031 3.09161 6.17156C3.32094 5.94281 3.69323 5.94281 3.92256 6.17156L10.9132 12.5565C11.0358 12.6785 11.0877 12.8407 11.0796 13C11.0877 13.1599 11.0358 13.3215 10.9132 13.4435L3.92256 19.8284C3.69323 20.0572 3.32094 20.0572 3.09161 19.8284C2.86228 19.5997 2.86228 19.2286 3.09161 18.9998L9.66099 13.0006Z" fill="white" fill-opacity="0.4"/> <path d="M24.4213 13.0008L15.9749 5.28594C15.6801 4.99184 15.6801 4.51468 15.9749 4.22058C16.2698 3.92647 16.7484 3.92647 17.0433 4.22058L26.0313 12.4298C26.1889 12.5866 26.2557 12.7952 26.2451 13C26.2557 13.2056 26.1889 13.4134 26.0313 13.5702L17.0433 21.7794C16.7484 22.0735 16.2698 22.0735 15.9749 21.7794C15.6801 21.4853 15.6801 21.0082 15.9749 20.7141L24.4213 13.0008Z" fill="white" fill-opacity="0.6"/> <path d="M43.9419 13.0011L31.7416 1.85747C31.3157 1.43265 31.3157 0.743428 31.7416 0.318612C32.1675 -0.106204 32.8589 -0.106204 33.2848 0.318612L46.2675 12.1764C46.4951 12.4029 46.5915 12.7042 46.5763 13C46.5915 13.2969 46.4951 13.5971 46.2675 13.8236L33.2848 25.6814C32.8589 26.1062 32.1675 26.1062 31.7416 25.6814C31.3157 25.2566 31.3157 24.5673 31.7416 24.1426L43.9419 13.0011Z" fill="white"/> </svg></span>
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        ORDER NOW
      </span>
    </button>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-492600642427159430 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492600642427159430&template_id=492600642276164486)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
