
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Prata:400|Open+Sans:400,700,600&display=swap');
      </style>
    
  <style>
    .gps-492600929804092294 .-rotate-90,.gps-492600929804092294 .-translate-x-1\/2,.gps-492600929804092294 .mobile\:-rotate-90,.gps-492600929804092294 .mobile\:-translate-x-1\/2,.gps-492600929804092294 .mobile\:rotate-90,.gps-492600929804092294 .mobile\:translate-x-1\/2,.gps-492600929804092294 .mobile\:translate-y-0,.gps-492600929804092294 .rotate-90,.gps-492600929804092294 .tablet\:-rotate-90,.gps-492600929804092294 .tablet\:-translate-x-1\/2,.gps-492600929804092294 .tablet\:rotate-90,.gps-492600929804092294 .tablet\:translate-x-1\/2,.gps-492600929804092294 .tablet\:translate-y-0,.gps-492600929804092294 .translate-x-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-492600929804092294 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-492600929804092294 .btn-disabled{cursor:default}.gps-492600929804092294 .pointer-events-none{pointer-events:none}.gps-492600929804092294 .invisible{visibility:hidden}.gps-492600929804092294 .static{position:static}.gps-492600929804092294 .absolute{position:absolute}.gps-492600929804092294 .relative{position:relative}.gps-492600929804092294 .inset-0{inset:0}.gps-492600929804092294 .bottom-0{bottom:0}.gps-492600929804092294 .bottom-2{bottom:8px}.gps-492600929804092294 .left-1\/2{left:50%}.gps-492600929804092294 .right-0{right:0}.gps-492600929804092294 .right-1\/2{right:50%}.gps-492600929804092294 .top-2{top:8px}.gps-492600929804092294 .z-1{z-index:1}.gps-492600929804092294 .z-2{z-index:2}.gps-492600929804092294 .z-\[90\]{z-index:90}.gps-492600929804092294 .mx-auto{margin-left:auto;margin-right:auto}.gps-492600929804092294 .my-0{margin-bottom:0;margin-top:0}.gps-492600929804092294 .mb-0{margin-bottom:0}.gps-492600929804092294 .ml-2{margin-left:8px}.gps-492600929804092294 .flex{display:flex}.gps-492600929804092294 .inline-flex{display:inline-flex}.gps-492600929804092294 .grid{display:grid}.gps-492600929804092294 .contents{display:contents}.gps-492600929804092294 .\!hidden{display:none!important}.gps-492600929804092294 .hidden{display:none}.gps-492600929804092294 .aspect-square{aspect-ratio:1/1}.gps-492600929804092294 .h-5{height:20px}.gps-492600929804092294 .h-6{height:24px}.gps-492600929804092294 .h-fit{height:-moz-fit-content;height:fit-content}.gps-492600929804092294 .h-full{height:100%}.gps-492600929804092294 .w-5{width:20px}.gps-492600929804092294 .w-6{width:24px}.gps-492600929804092294 .w-\[12px\]{width:12px}.gps-492600929804092294 .w-full{width:100%}.gps-492600929804092294 .max-w-full{max-width:100%}.gps-492600929804092294 .flex-1{flex:1 1 0%}.gps-492600929804092294 .-translate-x-1\/2{--tw-translate-x:-50%}.gps-492600929804092294 .-translate-x-1\/2,.gps-492600929804092294 .translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .translate-x-1\/2{--tw-translate-x:50%}.gps-492600929804092294 .-rotate-90{--tw-rotate:-90deg}.gps-492600929804092294 .-rotate-90,.gps-492600929804092294 .rotate-90{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .rotate-90{--tw-rotate:90deg}@keyframes spin{to{transform:rotate(1turn)}}.gps-492600929804092294 .animate-spin{animation:spin 1s linear infinite}.gps-492600929804092294 .cursor-pointer{cursor:pointer}.gps-492600929804092294 .flex-col{flex-direction:column}.gps-492600929804092294 .flex-wrap{flex-wrap:wrap}.gps-492600929804092294 .\!flex-nowrap{flex-wrap:nowrap!important}.gps-492600929804092294 .items-start{align-items:flex-start}.gps-492600929804092294 .\!items-end{align-items:flex-end!important}.gps-492600929804092294 .items-center{align-items:center}.gps-492600929804092294 .justify-center{justify-content:center}.gps-492600929804092294 .gap-2{gap:8px}.gps-492600929804092294 .gap-y-0{row-gap:0}.gps-492600929804092294 .overflow-hidden{overflow:hidden}.gps-492600929804092294 .overflow-y-auto{overflow-y:auto}.gps-492600929804092294 .break-words{overflow-wrap:break-word}.gps-492600929804092294 .rounded-full{border-radius:9999px}.gps-492600929804092294 .rounded-none{border-radius:0}.gps-492600929804092294 .bg-black\/50{background-color:rgba(0,0,0,.5)}.gps-492600929804092294 .p-\[1px\]{padding:1px}.gps-492600929804092294 .pb-1{padding-bottom:4px}.gps-492600929804092294 .pr-1{padding-right:4px}.gps-492600929804092294 .text-center{text-align:center}.gps-492600929804092294 .text-g-text-3{color:var(--g-c-text-3)}.gps-492600929804092294 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-492600929804092294 .line-through{text-decoration-line:line-through}.gps-492600929804092294 .no-underline{text-decoration-line:none}.gps-492600929804092294 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-492600929804092294 .opacity-0{opacity:0}.gps-492600929804092294 .opacity-25{opacity:.25}.gps-492600929804092294 .opacity-30{opacity:.3}.gps-492600929804092294 .opacity-75{opacity:.75}.gps-492600929804092294 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-492600929804092294 .outline{outline-style:solid}.gps-492600929804092294 .outline-1{outline-width:1px}.gps-492600929804092294 .-outline-offset-1{outline-offset:-1px}.gps-492600929804092294 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929804092294 .transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929804092294 .duration-100{transition-duration:.1s}.gps-492600929804092294 .duration-200{transition-duration:.2s}.gps-492600929804092294 .duration-300{transition-duration:.3s}.gps-492600929804092294 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492600929804092294 .disabled\:btn-disabled:disabled{cursor:default}.gps-492600929804092294 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-492600929804092294 .disabled\:cursor-default:disabled{cursor:default}.gps-492600929804092294 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-492600929804092294 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-492600929804092294 .group:hover .group-hover\:opacity-100{opacity:1}}.gps-492600929804092294 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}.gps-492600929804092294 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-492600929804092294 .data-\[outline\=active\]\:p-\[1px\][data-outline=active]{padding:1px}.gps-492600929804092294 .data-\[outline\=active\]\:outline[data-outline=active]{outline-style:solid}.gps-492600929804092294 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-492600929804092294 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}.gps-492600929804092294 .scrollbar-thumb\:rounded-2xl::-webkit-scrollbar-thumb,.gps-492600929804092294 .scrollbar-track\:rounded-2xl::-webkit-scrollbar-track{border-radius:16px}.gps-492600929804092294 .scrollbar-thumb\:bg-gray-400::-webkit-scrollbar-thumb{--tw-bg-opacity:1;background-color:rgb(156 163 175/var(--tw-bg-opacity))}@media (max-width:1023px){.gps-492600929804092294 .tablet\:bottom-2{bottom:8px}.gps-492600929804092294 .tablet\:left-1\/2{left:50%}.gps-492600929804092294 .tablet\:right-1\/2{right:50%}.gps-492600929804092294 .tablet\:top-2{top:8px}.gps-492600929804092294 .tablet\:mb-0{margin-bottom:0}.gps-492600929804092294 .tablet\:ml-2{margin-left:8px}.gps-492600929804092294 .tablet\:mt-0{margin-top:0}.gps-492600929804092294 .tablet\:\!inline{display:inline!important}.gps-492600929804092294 .tablet\:flex{display:flex}.gps-492600929804092294 .tablet\:\!hidden{display:none!important}.gps-492600929804092294 .tablet\:h-full{height:100%}.gps-492600929804092294 .tablet\:flex-1{flex:1 1 0%}.gps-492600929804092294 .tablet\:-translate-x-1\/2{--tw-translate-x:-50%}.gps-492600929804092294 .tablet\:-translate-x-1\/2,.gps-492600929804092294 .tablet\:translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .tablet\:translate-x-1\/2{--tw-translate-x:50%}.gps-492600929804092294 .tablet\:translate-y-0{--tw-translate-y:0px}.gps-492600929804092294 .tablet\:-rotate-90,.gps-492600929804092294 .tablet\:translate-y-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .tablet\:-rotate-90{--tw-rotate:-90deg}.gps-492600929804092294 .tablet\:rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .tablet\:flex-col{flex-direction:column}.gps-492600929804092294 .tablet\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-492600929804092294 .tablet\:\!items-end{align-items:flex-end!important}.gps-492600929804092294 .tablet\:overflow-y-auto{overflow-y:auto}.gps-492600929804092294 .tablet\:px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-492600929804092294 .mobile\:bottom-2{bottom:8px}.gps-492600929804092294 .mobile\:left-1\/2{left:50%}.gps-492600929804092294 .mobile\:right-1\/2{right:50%}.gps-492600929804092294 .mobile\:top-2{top:8px}.gps-492600929804092294 .mobile\:mb-0{margin-bottom:0}.gps-492600929804092294 .mobile\:ml-2{margin-left:8px}.gps-492600929804092294 .mobile\:mt-0{margin-top:0}.gps-492600929804092294 .mobile\:\!inline{display:inline!important}.gps-492600929804092294 .mobile\:flex{display:flex}.gps-492600929804092294 .mobile\:\!hidden{display:none!important}.gps-492600929804092294 .mobile\:h-full{height:100%}.gps-492600929804092294 .mobile\:flex-1{flex:1 1 0%}.gps-492600929804092294 .mobile\:-translate-x-1\/2{--tw-translate-x:-50%}.gps-492600929804092294 .mobile\:-translate-x-1\/2,.gps-492600929804092294 .mobile\:translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .mobile\:translate-x-1\/2{--tw-translate-x:50%}.gps-492600929804092294 .mobile\:translate-y-0{--tw-translate-y:0px}.gps-492600929804092294 .mobile\:-rotate-90,.gps-492600929804092294 .mobile\:translate-y-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .mobile\:-rotate-90{--tw-rotate:-90deg}.gps-492600929804092294 .mobile\:rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492600929804092294 .mobile\:flex-col{flex-direction:column}.gps-492600929804092294 .mobile\:\!flex-nowrap{flex-wrap:nowrap!important}.gps-492600929804092294 .mobile\:\!items-end{align-items:flex-end!important}.gps-492600929804092294 .mobile\:overflow-y-auto{overflow-y:auto}.gps-492600929804092294 .mobile\:px-0{padding-left:0;padding-right:0}}.gps-492600929804092294 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492600929804092294 .\[\&_p\]\:inline p{display:inline}.gps-492600929804092294 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-492600929804092294 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492600929804092294 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g60KXUXz9g"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g60KXUXz9g mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gy18rQvvFg relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gr0VxXuidf"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:static;--radius:var(--g-radius-none);--ml:0px;--mb:0px;--pl:0px;--top:0px;--z:0;--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gr0VxXuidf mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gu1vYHhGzm relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product.v2.js" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == 'latest'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == 'latest'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "grmfEAyIq6" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwO8LPP9b7 relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-images.js" defer="defer"></script>
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
  <gp-product-images
    gp-data='
    {
      "id":"gp1JeL61cA",
      "setting":{"arrow":{"desktop":true},"arrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n              <rect width=\"32\" height=\"32\" rx=\"16\" fill=\"white\"/>\n              <path d=\"M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z\" fill=\"black\"/>\n              </svg>\n              ","clickEffect":"none","controlOverContent":{"desktop":true},"dot":{"desktop":false},"dragToScroll":true,"featureImageVisible":{"desktop":true},"galleryVisible":{"desktop":false},"hoverEffect":"none","largeViewInPopup":{"desktop":false},"loop":{"desktop":false},"numberPerRow":{"desktop":5,"mobile":5,"tablet":5},"otherImage":0,"pauseOnHover":true,"showActiveStatus":true,"slidesToShow":{"desktop":5,"mobile":3,"tablet":5},"speed":1,"type":{"desktop":"images"},"zoom":150,"zoomType":"default"},
      "styles":{"align":{"desktop":"flex-start"},"aspectRatio":{"desktop":"1"},"customAspectRadio":{"desktop":{"height":"1","width":"1"}},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"ftAlign":{"desktop":"center"},"ftAspectRatio":{"desktop":"auto"},"ftCustomAspectRadio":{"desktop":{"height":"1","width":"1"}},"ftFullWidth":{"desktop":true},"ftLayout":{"desktop":"cover"},"ftWidth":{"desktop":"100%"},"ftWidthHorizontalLayout":{"desktop":"100%"},"fullWidth":{"desktop":true},"gallerySpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"layout":{"desktop":"cover"},"position":{"desktop":"left"},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"verticalLayout":{"desktop":false},"verticalLayoutRow":{"desktop":true},"width":{"desktop":"100%"},"widthHorizontalLayout":{"desktop":"20%"}}, 
      "product":{{ product | json | escape }}
    }
  '
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
    class=""
  >
    <div
        class="flex w-full flex-col tablet:flex-col mobile:flex-col"
        style="--jc:start"
      >
        <div
  class="featured-image-root gp-product-images-ft flex"
  style="--jc:flex-start;--jc-tablet:flex-start;--jc-mobile:flex-start;--d:flex;--d-mobile:flex;--d-tablet:flex;--w:100%;--w-tablet:100%;--w-mobile:100%"
>
  <div role="presentation" 
    media-type="{{product.featured_media.media_type}}"
    class="featured-image-wrapper relative flex w-full overflow-hidden"
    style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto"
  >
  <div class="flex w-full items-start justify-center">
    <div class="featured-image group relative w-full h-full overflow-hidden flex items-center justify-center">
      {% assign hasModel3d = false %}
      {% assign hasImage = false %}
      {% assign hasVideo = false %}
      {% assign mediaSourcesModel = null %}
      {% assign mediaSourceVideo = null %}
      {% assign mediaVideoAlt = null %}

      {% for media in product.media %}
        {% if media.media_type == 'model' %}
          {% assign hasModel3d = true %}
          {% assign mediaSourcesModel = media.sources %}
        {% endif %}
      {% if media.media_type == 'video' %}
        {% assign hasVideo = true %}
        {% assign mediaSourceVideo = media.sources.last.url %}
        {% assign mediaVideoAlt = media.alt %}
      {% endif %}
      {% if media.media_type == 'external_video' %}
        {% assign hasVideo = true %}
        {% assign mediaSourceVideo = media | external_video_url %}
        {% assign mediaVideoAlt = media.alt %}
      {% endif %}
      {% if media.media_type == 'image' %}
        {% assign hasImage = true %}
      {% endif %}
    {% endfor %}

    {% if hasModel3d == true %}
      <script type="module" defer="" src="https://cdn.shopify.com/shopifycloud/model-viewer/v1.12/model-viewer.js"></script>
    {% endif %}
 
    
    {% assign featureMedia = product.media.first %}
    {%- assign variant = product.selected_or_first_available_variant -%}
    {% assign shouldHidden = '' %}
    {% if featureMedia.media_type == 'model' %}
      
    <model-viewer
      class="w-full h-full model-viewer z-[90]"
      width="100%" height="100%"
      
      
      
      
      src="{{featureMedia.sources.first.url}}"
      alt="{{featureMedia.preview_image.alt}}"
      camera-controls="true"
      poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      data-js-focus-visible=""
      data-shopify-feature="1.12"
      ar-status="not-presenting"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
    {% endif %}
    {% if featureMedia.media_type == 'video' %}
      
    <iframe
      width="100%" height="100%"
      class="feature-video w-full h-full relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="true"
      alt="{{mediaVideoAlt}}"
      style=""
    >
    </iframe>
  
    {% endif %}
    {% if featureMedia.media_type == 'external_video' %}
      
    <iframe
      width="100%" height="100%"
      class="feature-video w-full h-full relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="true"
      alt="{{mediaVideoAlt}}"
      style=""
    >
    </iframe>
  
    {% endif %}
    {% if featureMedia.media_type != 'image' %}
      {% assign shouldHidden = 'hidden' %}
    {% endif %}
    
    <img
    id="{%- if variant.featured_image != null -%}
              {{variant.featured_image.id}}
           {%- elsif variant.featured_image == null -%}
              {{featureMedia.id}}
            {%- endif -%}"
    draggable="false"
    class="w-full featured-image-only w-full transition-opacity {{shouldHidden}}"
    data-src="{%- if variant.featured_image != null -%}
              {{ variant.featured_image.src | img_url: '1024x1024'}}
            {%- elsif variant.featured_image == null -%}
              {{ featureMedia.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" data-srcset="{%- if variant.featured_image != null -%}
              {{ variant.featured_image.src | img_url: '1024x1024'}}
            {%- elsif variant.featured_image == null -%}
              {{ featureMedia.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 768w,{%- if variant.featured_image != null -%}
              {{ variant.featured_image.src | img_url: '1024x1024'}}
            {%- elsif variant.featured_image == null -%}
              {{ featureMedia.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1024w,{%- if variant.featured_image != null -%}
              {{ variant.featured_image.src | img_url: '1024x1024'}}
            {%- elsif variant.featured_image == null -%}
              {{ featureMedia.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%} 1440w" src="{%- if variant.featured_image != null -%}
              {{ variant.featured_image.src | img_url: '1024x1024'}}
            {%- elsif variant.featured_image == null -%}
              {{ featureMedia.src | img_url: '1024x1024'}}
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" width="{%- if variant.featured_image != null -%}
                {{variant.featured_image.width}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.width}}
              {%- endif -%}" height="{%- if variant.featured_image != null -%}
                {{variant.featured_image.height}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.height}}
              {%- endif -%}" alt="{%- if variant.featured_image != null -%}
              {{variant.featured_image.alt}}
            {%- elsif variant.featured_image == null -%}
              {{featureMedia.alt}}
            {%- endif -%}" priority="true"
    sizes="100vw"
    style="--aspect:{%- if variant.featured_image != null -%}
                {{variant.featured_image.width}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.width}}
              {%- endif -%}/{%- if variant.featured_image != null -%}
                {{variant.featured_image.height}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.height}}
              {%- endif -%};--aspect-tablet:{%- if variant.featured_image != null -%}
                {{variant.featured_image.width}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.width}}
              {%- endif -%}/{%- if variant.featured_image != null -%}
                {{variant.featured_image.height}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.height}}
              {%- endif -%};--aspect-mobile:{%- if variant.featured_image != null -%}
                {{variant.featured_image.width}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.width}}
              {%- endif -%}/{%- if variant.featured_image != null -%}
                {{variant.featured_image.height}}
              {%- elsif variant.featured_image == null -%}
                {{featureMedia.height}}
              {%- endif -%};--objf:cover"
  />
    
    
    
    </div>
  </div>
  </div>
</div>
        {%- if product.media.size > 1 -%}
          <div
            class="gallery-wrapper gp-product-images-gallery inline-flex h-fit max-w-full"
            style="--fs:1.23;--d:none;--d-mobile:none;--d-tablet:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--mr:var(--g-s-s);--mt:0px;--ml:0px;--mr-mobile:var(--g-s-s);--mt-mobile:0px;--ml-mobile:0px;--mr-tablet:var(--g-s-s);--mt-tablet:0px;--ml-tablet:0px"
          >
            
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel type="grid-carousel" id="gp-root-carousel-gp1JeL61cA-{{product.id}}-{{section.id}}" class="flex-1 w-full carousel-gallery "  gp-data='{"id":"gp1JeL61cA-{{product.id}}-{{section.id}}","setting":{"loop":{"desktop":false},"slidesToShow":{"desktop":"auto","mobile":"auto","tablet":"auto"},"dot":{"desktop":false,"tablet":false,"mobile":false},"arrow":{"desktop":true},"controlOverContent":{"desktop":true},"enableDrag":true,"vertical":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"arrowCustom":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n              <rect width=\"32\" height=\"32\" rx=\"16\" fill=\"white\"/>\n              <path d=\"M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z\" fill=\"black\"/>\n              </svg>\n              "},"styles":{"fullWidth":{"desktop":true},"width":{"desktop":"100%","tablet":"100%","mobile":"100%"},"spacing":{"desktop":5,"tablet":5,"mobile":5},"adaptiveHeight":{"desktop":true,"mobile":true,"tablet":true}},"isHiddenArrowWhenDisabled":true}' style="--d:flex;--d-mobile:flex;--d-tablet:flex">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:flex tablet:flex flex"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full z-1 mobile:h-full mobile:flex-1 tablet:h-full tablet:flex-1 h-full flex-1"
        >
          <div id="gp-carousel-gp1JeL61cA-{{product.id}}-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    {%- if product.media.size > 1 -%}
    {%- for media in product.media -%}
    {% if media.media_type == 'image' %}
      {%- for image in product.images -%}
        {% if image.src == media.src %}
          {% assign imageID = image.id %}
          {% break %}
        {% endif%}
      {% endfor %}
    {% else %}
      {% assign imageID = '' %}
    {% endif %}
      {%- if media.id == product.featured_media.id -%}
        
    {% if media.media_type == 'video' %}
      {% assign mediaSourceUrl = media.sources.last.url %}
    {% endif %}
    {% if media.media_type == 'external_video' %}
      {% assign mediaSourceUrl = media | external_video_url %}
    {% endif %}
     {% if media.media_type == 'image' %}
      {% assign mediaSourceUrl = media.src %}
    {% endif %}
    
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      data-outline="active"
      id="{{imageID}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-gp1JeL61cA-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline data-[outline=active]:p-[1px] p-[1px]"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{media.preview_image | product_img_url: '1024x1024'}}" data-srcset="{{media.preview_image | product_img_url: '1024x1024'}} 768w,{{media.preview_image | product_img_url: '1024x1024'}} 1024w,{{media.preview_image | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{media.width}}" height="{{media.height}}" alt="{{media.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
      
      {% if media.media_type == 'video' or media.media_type == 'external_video' %}
      <div class="absolute pb-1 pr-1 right-0 bottom-0" >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
          <path d="M17.6869 12.2646L17.6868 12.2646L6.78379 18.4464C6.78378 18.4464 6.78376 18.4464 6.78374 18.4464C6.52931 18.5903 6.1665 18.4179 6.1665 18.0416V5.95844C6.1665 5.58218 6.52917 5.40981 6.7836 5.55354C6.78366 5.55357 6.78373 5.55361 6.78379 5.55365L17.6868 11.7354L17.6869 11.7354C17.8819 11.846 17.8819 12.154 17.6869 12.2646Z" stroke="#F9F9F9" stroke-miterlimit="10"/>
        </svg>
      </div>
      {% endif %}

      {% if media.media_type == 'model' %}
      <div class="absolute pb-1 pr-1 right-0 bottom-0">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7441 4.57034C11.9017 4.47655 12.098 4.47655 12.2555 4.57034L18.5889 8.33957C18.7404 8.42971 18.8332 8.59296 18.8332 8.76923V15.2308C18.8332 15.407 18.7404 15.5703 18.5889 15.6604L12.2555 19.4297C12.098 19.5234 11.9017 19.5234 11.7441 19.4297L5.41079 15.6604C5.25932 15.5703 5.1665 15.407 5.1665 15.2308V8.76923C5.1665 8.59296 5.25932 8.42971 5.41079 8.33957L11.7441 4.57034ZM6.1665 9.64865V14.9465L11.4998 18.1206V12.8227L6.1665 9.64865ZM12.4998 12.8227V18.1206L17.8332 14.9465V9.64865L12.4998 12.8227ZM17.3555 8.76923L11.9998 11.9566L6.64417 8.76923L11.9998 5.58185L17.3555 8.76923Z" fill="#F9F9F9"/>
        </svg>
      </div>
      {% endif %}
      
      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
      {% else %}
        
    {% if media.media_type == 'video' %}
      {% assign mediaSourceUrl = media.sources.last.url %}
    {% endif %}
    {% if media.media_type == 'external_video' %}
      {% assign mediaSourceUrl = media | external_video_url %}
    {% endif %}
     {% if media.media_type == 'image' %}
      {% assign mediaSourceUrl = media.src %}
    {% endif %}
    
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      data-outline="deactive"
      id="{{imageID}}"
      style="outline-color:var(--g-c-brand, brand)"
      class="gem-slider-item w-full gem-slider-item-gp1JeL61cA-{{product.id}} group flex w-full items-center justify-center overflow-hidden outline-1 -outline-offset-1 image-item data-[outline=active]:outline data-[outline=active]:p-[1px] undefined"
    >
      
      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{media.preview_image | product_img_url: '1024x1024'}}" data-srcset="{{media.preview_image | product_img_url: '1024x1024'}} 768w,{{media.preview_image | product_img_url: '1024x1024'}} 1024w,{{media.preview_image | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{media.width}}" height="{{media.height}}" alt="{{media.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%"
  />
      
      {% if media.media_type == 'video' or media.media_type == 'external_video' %}
      <div class="absolute pb-1 pr-1 right-0 bottom-0" >
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
          <path d="M17.6869 12.2646L17.6868 12.2646L6.78379 18.4464C6.78378 18.4464 6.78376 18.4464 6.78374 18.4464C6.52931 18.5903 6.1665 18.4179 6.1665 18.0416V5.95844C6.1665 5.58218 6.52917 5.40981 6.7836 5.55354C6.78366 5.55357 6.78373 5.55361 6.78379 5.55365L17.6868 11.7354L17.6869 11.7354C17.8819 11.846 17.8819 12.154 17.6869 12.2646Z" stroke="#F9F9F9" stroke-miterlimit="10"/>
        </svg>
      </div>
      {% endif %}

      {% if media.media_type == 'model' %}
      <div class="absolute pb-1 pr-1 right-0 bottom-0">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7441 4.57034C11.9017 4.47655 12.098 4.47655 12.2555 4.57034L18.5889 8.33957C18.7404 8.42971 18.8332 8.59296 18.8332 8.76923V15.2308C18.8332 15.407 18.7404 15.5703 18.5889 15.6604L12.2555 19.4297C12.098 19.5234 11.9017 19.5234 11.7441 19.4297L5.41079 15.6604C5.25932 15.5703 5.1665 15.407 5.1665 15.2308V8.76923C5.1665 8.59296 5.25932 8.42971 5.41079 8.33957L11.7441 4.57034ZM6.1665 9.64865V14.9465L11.4998 18.1206V12.8227L6.1665 9.64865ZM12.4998 12.8227V18.1206L17.8332 14.9465V9.64865L12.4998 12.8227ZM17.3555 8.76923L11.9998 11.9566L6.64417 8.76923L11.9998 5.58185L17.3555 8.76923Z" fill="#F9F9F9"/>
        </svg>
      </div>
      {% endif %}
      
      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
      style="--d: none;--d-mobile: none;--d-tablet: none;" 
      >
        <svg
          height="100%"
          width="100%"
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          viewBox="0 0 512 512"
          color="#fff"
        >
          <path
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
          />
        </svg>
      </div>
    
    </div>
  
      {%- endif -%}
    {% endfor %}
    {%- endif -%}
    
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gp1JeL61cA-{{product.id}}-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline top-2 tablet:top-2 tablet:translate-y-0 tablet:mt-0 mobile:top-2 mobile:translate-y-0 mobile:mt-0 -rotate-90 tablet:-rotate-90 mobile:-rotate-90 left-1/2 -translate-x-1/2 tablet:left-1/2 tablet:-translate-x-1/2 mobile:left-1/2 mobile:-translate-x-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="32" height="32" rx="16" fill="white"/>
              <path d="M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z" fill="black"/>
              </svg>
              
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gp1JeL61cA-{{product.id}}-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!inline bottom-2 tablet:bottom-2 tablet:translate-y-0 tablet:mb-0 mobile:bottom-2 mobile:translate-y-0 mobile:mb-0 rotate-90 tablet:rotate-90 mobile:rotate-90 right-1/2 translate-x-1/2 tablet:right-1/2 tablet:translate-x-1/2 mobile:right-1/2 mobile:translate-x-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
    <svg width="100%" height="100%" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="32" height="32" rx="16" fill="white"/>
              <path d="M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z" fill="black"/>
              </svg>
              
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gp1JeL61cA-{{product.id}}-{{section.id}} hidden flex-col ml-2 tablet:!hidden tablet:flex-col tablet:ml-2 mobile:!hidden mobile:flex-col mobile:ml-2" ></div>
      </div>
    </gp-carousel>
  
  
            
  <div type="grid-gallery"
    class="grid-gallery flex h-fit w-full flex-wrap scrollbar-track:rounded-2xl scrollbar-thumb:rounded-2xl scrollbar-thumb:bg-gray-400 !flex-nowrap overflow-y-auto  !items-end mobile:!flex-nowrap mobile:overflow-y-auto  mobile:!items-end tablet:!flex-nowrap tablet:overflow-y-auto  tablet:!items-end"
    style="--d:none;--d-mobile:none;--d-tablet:none;--gg:5px;--gg-tablet:5px;--gg-mobile:5px"
  > 
    {%- if product.media.size > 1 -%}
      {%- for media in product.media -%}
        {% if media.media_type == 'image' %}
          {%- for image in product.images -%}
            {% if image.src == media.src %}
              {% assign imageID = image.id %}
              {% break %}
            {% endif%}
          {% endfor %}
        {% else %}
          {% assign imageID = '' %}
        {% endif %}
        {%- if media.id == product.featured_media.id -%}        
            
    {% if media.media_type == 'video' %}
      {% assign mediaSourceUrl = media.sources.last.url %}
    {% endif %}
    {% if media.media_type == 'external_video' %}
      {% assign mediaSourceUrl = media | external_video_url %}
      {% assign mediaSource = media | json %}
    {% endif %}
    {% if media.media_type == 'image' %}
      {% assign mediaSourceUrl = media.src %}
    {% endif %}
    <div 
      aria-hidden 
      id="{{imageID}}" 
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      data-outline="active" class="image-item p-[1px] data-[outline=active]:outline data-[outline=active]:p-[1px] group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
      style="--aspect: 1;--w: 100%;--w-tablet: 100%;--w-mobile: 100%;outline-color: var(--g-c-brand, brand);max-width: 100%;"
      >
      {% if media.media_type == 'video' or media.media_type == 'external_video' %}
        <div class="absolute pb-1 pr-1 right-0 bottom-0" >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
            <path d="M17.6869 12.2646L17.6868 12.2646L6.78379 18.4464C6.78378 18.4464 6.78376 18.4464 6.78374 18.4464C6.52931 18.5903 6.1665 18.4179 6.1665 18.0416V5.95844C6.1665 5.58218 6.52917 5.40981 6.7836 5.55354C6.78366 5.55357 6.78373 5.55361 6.78379 5.55365L17.6868 11.7354L17.6869 11.7354C17.8819 11.846 17.8819 12.154 17.6869 12.2646Z" stroke="#F9F9F9" stroke-miterlimit="10"/>
          </svg>
        </div>
      {% endif %}

      {% if media.media_type == 'model' %}
      <div class="absolute pb-1 pr-1 right-0 bottom-0">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7441 4.57034C11.9017 4.47655 12.098 4.47655 12.2555 4.57034L18.5889 8.33957C18.7404 8.42971 18.8332 8.59296 18.8332 8.76923V15.2308C18.8332 15.407 18.7404 15.5703 18.5889 15.6604L12.2555 19.4297C12.098 19.5234 11.9017 19.5234 11.7441 19.4297L5.41079 15.6604C5.25932 15.5703 5.1665 15.407 5.1665 15.2308V8.76923C5.1665 8.59296 5.25932 8.42971 5.41079 8.33957L11.7441 4.57034ZM6.1665 9.64865V14.9465L11.4998 18.1206V12.8227L6.1665 9.64865ZM12.4998 12.8227V18.1206L17.8332 14.9465V9.64865L12.4998 12.8227ZM17.3555 8.76923L11.9998 11.9566L6.64417 8.76923L11.9998 5.58185L17.3555 8.76923Z" fill="#F9F9F9"/>
        </svg>
      </div>
      {% endif %}

      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{media.preview_image | product_img_url: '1024x1024'}}" data-srcset="{{media.preview_image | product_img_url: '1024x1024'}} 768w,{{media.preview_image | product_img_url: '1024x1024'}} 1024w,{{media.preview_image | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{media.width}}" height="{{media.height}}" alt="{{media.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;width:100%;height:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
        style="--d: none;--d-mobile: none;--d-tablet: none;" >
          <svg
            height="100%"
            width="100%"
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 512 512"
            color="#fff"
          >
            <path
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
            />
          </svg>
        </div>
      </div>
        {% else %}
          
    {% if media.media_type == 'video' %}
      {% assign mediaSourceUrl = media.sources.last.url %}
    {% endif %}
    {% if media.media_type == 'external_video' %}
      {% assign mediaSourceUrl = media | external_video_url %}
      {% assign mediaSource = media | json %}
    {% endif %}
    {% if media.media_type == 'image' %}
      {% assign mediaSourceUrl = media.src %}
    {% endif %}
    <div 
      aria-hidden 
      id="{{imageID}}" 
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      data-outline="deactive" class="image-item undefined data-[outline=active]:outline data-[outline=active]:p-[1px] group relative overflow-hidden outline-1 -outline-offset-1 cursor-pointer"
      style="--aspect: 1;--w: 100%;--w-tablet: 100%;--w-mobile: 100%;outline-color: var(--g-c-brand, brand);max-width: 100%;"
      >
      {% if media.media_type == 'video' or media.media_type == 'external_video' %}
        <div class="absolute pb-1 pr-1 right-0 bottom-0" >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
            <path d="M17.6869 12.2646L17.6868 12.2646L6.78379 18.4464C6.78378 18.4464 6.78376 18.4464 6.78374 18.4464C6.52931 18.5903 6.1665 18.4179 6.1665 18.0416V5.95844C6.1665 5.58218 6.52917 5.40981 6.7836 5.55354C6.78366 5.55357 6.78373 5.55361 6.78379 5.55365L17.6868 11.7354L17.6869 11.7354C17.8819 11.846 17.8819 12.154 17.6869 12.2646Z" stroke="#F9F9F9" stroke-miterlimit="10"/>
          </svg>
        </div>
      {% endif %}

      {% if media.media_type == 'model' %}
      <div class="absolute pb-1 pr-1 right-0 bottom-0">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.9" width="24" height="24" rx="3" fill="#212121"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7441 4.57034C11.9017 4.47655 12.098 4.47655 12.2555 4.57034L18.5889 8.33957C18.7404 8.42971 18.8332 8.59296 18.8332 8.76923V15.2308C18.8332 15.407 18.7404 15.5703 18.5889 15.6604L12.2555 19.4297C12.098 19.5234 11.9017 19.5234 11.7441 19.4297L5.41079 15.6604C5.25932 15.5703 5.1665 15.407 5.1665 15.2308V8.76923C5.1665 8.59296 5.25932 8.42971 5.41079 8.33957L11.7441 4.57034ZM6.1665 9.64865V14.9465L11.4998 18.1206V12.8227L6.1665 9.64865ZM12.4998 12.8227V18.1206L17.8332 14.9465V9.64865L12.4998 12.8227ZM17.3555 8.76923L11.9998 11.9566L6.64417 8.76923L11.9998 5.58185L17.3555 8.76923Z" fill="#F9F9F9"/>
        </svg>
      </div>
      {% endif %}

      <img
    
    draggable="false"
    class="gp_lazyload"
    data-src="{{media.preview_image | product_img_url: '1024x1024'}}" data-srcset="{{media.preview_image | product_img_url: '1024x1024'}} 768w,{{media.preview_image | product_img_url: '1024x1024'}} 1024w,{{media.preview_image | product_img_url: '1024x1024'}} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="{{media.width}}" height="{{media.height}}" alt="{{media.alt}}" priority
    sizes="100vw"
    style="--aspect:1;--aspect-tablet:1;--aspect-mobile:1;--objf:cover;width:100%;height:100%"
  />

      <div class="absolute inset-0 flex cursor-pointer items-center justify-center bg-black/50 opacity-0 transition-opacity duration-100 group-hover:opacity-100" 
        style="--d: none;--d-mobile: none;--d-tablet: none;" >
          <svg
            height="100%"
            width="100%"
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            viewBox="0 0 512 512"
            color="#fff"
          >
            <path
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M62.2467 345.253C43.7072 326.714 29.1474 305.116 18.9714 281.057C8.42839 256.13 3.08301 229.671 3.08301 202.418C3.08301 175.165 8.43012 148.707 18.974 123.78C29.15 99.7213 43.7098 78.123 62.2485 59.5834C80.788 41.0439 102.386 26.4841 126.445 16.3081C151.372 5.76422 177.831 0.417969 205.084 0.417969C232.337 0.417969 258.794 5.76421 283.722 16.3064C307.78 26.4823 329.379 41.0422 347.918 59.5817C366.458 78.1212 381.017 99.7196 391.194 123.778C401.737 148.706 407.083 175.163 407.083 202.417C407.083 229.671 401.737 256.129 391.194 281.056C388.406 287.648 385.277 294.048 381.839 300.257L493.397 411.815C514.091 432.511 514.091 466.187 493.395 486.883L484.272 496.006C474.245 506.032 460.915 511.553 446.738 511.553C432.559 511.553 419.228 506.032 409.202 496.006L296.022 382.824C291.996 384.854 287.898 386.762 283.721 388.528C258.794 399.073 232.336 404.419 205.082 404.419C177.828 404.419 151.371 399.071 126.443 388.528C102.385 378.352 80.7863 363.793 62.2467 345.253ZM301.699 336.166C313.928 327.317 324.896 316.835 334.282 305.034C342.149 295.142 348.9 284.325 354.355 272.775C364.433 251.432 370.076 227.586 370.076 202.419C370.076 111.296 296.206 37.4253 205.083 37.4253C113.96 37.4253 40.0895 111.294 40.0895 202.418C40.0895 293.541 113.96 367.411 205.084 367.411C227.413 367.411 248.701 362.967 268.126 354.928C280.091 349.976 291.347 343.658 301.699 336.166ZM467.229 460.716C473.507 454.439 473.507 444.26 467.229 437.982L360.595 331.348C356.601 336.153 352.378 340.794 347.919 345.253C341.671 351.502 335.068 357.286 328.147 362.615L435.371 469.839C438.511 472.977 442.624 474.547 446.739 474.547C450.853 474.547 454.967 472.978 458.106 469.839L467.229 460.716ZM223.582 183.91H281.071C291.292 183.91 299.574 192.194 299.575 202.414C299.575 206.778 298.062 210.786 295.533 213.951C292.143 218.195 286.926 220.916 281.072 220.916H228.303H223.583V225.63V278.406C223.583 287.081 217.613 294.358 209.559 296.361C208.124 296.717 206.625 296.909 205.08 296.909C194.861 296.909 186.577 288.625 186.577 278.406V220.917H129.087C118.868 220.917 110.584 212.633 110.584 202.414C110.584 192.195 118.868 183.911 129.087 183.911H186.576V126.421C186.576 116.202 194.86 107.918 205.079 107.918C215.298 107.918 223.582 116.202 223.582 126.421V183.91Z"
            />
          </svg>
        </div>
      </div>
        {%- endif -%}
      {% endfor %}
    {% endif %}
  </div>
          </div>
        {%- endif -%}
      </div>
  </gp-product-images>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gY6n9-kIAN relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g-susnhbQ0"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:0px;--mb:0px;--mr:0px;--pt:var(--g-s-4xl);--pl:var(--g-s-l);--pb:var(--g-s-4xl);--pr:var(--g-s-l);--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-susnhbQ0 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFReEjiYLU relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m)" class="g8IuglLFff ">
      
    <div
      parentTag="Col"
        class="g8IuglLFff "
        style="--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-Prata, Prata);--weight:400;--ls:0px;--lh:130%;--size:48px;--size-tablet:48px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        <p>Bundles Are Better</p>
        </h2>
      </div>
    </div>
      </div>
    <div
      parentTag="Col"
        class="g1Grfjwk8K "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>Get an Ultimate Collection Bundle and save 30%</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="goE6xBvbvD"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--cg:var(--g-s-s);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="goE6xBvbvD mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gWVpmHy6i- relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-price.js" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"compare","uid":"gvx57VF_Ze","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-gvx57VF_Ze"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-price gp-product-compare-price line-through"
          style="--w:100%;--tdc:#B4B4B4;--tdt:1;--ta:left;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:23px;--size-tablet:23px;--size-mobile:20px;word-break:break-word"
        >
        
                  {% if variant.compare_at_price  %} 
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                
        </div>
      </div>
    </div>
      </gp-product-price>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gd-BFrF-NA relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-price.js" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"regular","uid":"gQzoRx0ZXL","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="false"
      >
        
    <div
      id="p-price-gQzoRx0ZXL"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-price gp-money decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#DB2652;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:700;--ls:0px;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
        </div>
      </div>
    </div>
      </gp-product-price>
  
    </div>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-product-button.js" defer="defer"></script>
  
  
  
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"continue-shopping","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"SHOP NOW","outOfStockLabel":"Out of stock","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}'
    >
        <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--ta:center"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <style>
    .gAZl73KXYX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gAZl73KXYX:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gAZl73KXYX" aria-label="SHOP NOW"
      data-state="idle"
      class="gAZl73KXYX gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3 gp-button-atc"
      style="--hvr-bg:#DB2652;--bg:#242424;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        SHOP NOW
      </span>
    </button>
  </div>
        <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-m);--ta:center"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <style>
    .gAZl73KXYX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      
      
      
      
      
    }

    .gAZl73KXYX:hover::before {
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #4D4D4D;
  
      
    }
  </style>
    <button
      type="button" data-id="gAZl73KXYX" aria-label="Out of stock"
      data-state="idle"
      class="gAZl73KXYX gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3 gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--hvr-bg:#DB2652;--bg:#242424;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:16px;--pr:16px;--pt:12px;--pb:12px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:default;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        Out of stock
      </span>
    </button>
  </div>
    </gp-product-button>
  
    <div
      parentTag="Col"
        class="gBwnYcZceF "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:400;--ls:0px;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word"
        >
        <p>* Free shipping worldwide all orders over $120</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-492600929804092294 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492600929804092294&template_id=492600929720206214)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
