
  
  
      <style>
        @import url('https://fonts.googleapis.com/css?family=Archivo:600,700|Open+Sans:600&display=swap');
      </style>
    
  <style>
    .gps-492598816579519711 .-translate-x-full,.gps-492598816579519711 .-translate-y-1\/2,.gps-492598816579519711 .mobile\:-translate-y-1\/2,.gps-492598816579519711 .mobile\:rotate-0,.gps-492598816579519711 .mobile\:rotate-180,.gps-492598816579519711 .mobile\:translate-x-0,.gps-492598816579519711 .mobile\:translate-y-1\/2,.gps-492598816579519711 .rotate-0,.gps-492598816579519711 .rotate-180,.gps-492598816579519711 .tablet\:-translate-y-1\/2,.gps-492598816579519711 .tablet\:rotate-0,.gps-492598816579519711 .tablet\:rotate-180,.gps-492598816579519711 .tablet\:translate-x-0,.gps-492598816579519711 .tablet\:translate-y-1\/2,.gps-492598816579519711 .translate-x-full,.gps-492598816579519711 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-492598816579519711 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-492598816579519711 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-492598816579519711 .absolute{position:absolute}.gps-492598816579519711 .relative{position:relative}.gps-492598816579519711 .bottom-1\/2{bottom:50%}.gps-492598816579519711 .left-1{left:4px}.gps-492598816579519711 .right-1{right:4px}.gps-492598816579519711 .top-1\/2{top:50%}.gps-492598816579519711 .z-1{z-index:1}.gps-492598816579519711 .z-2{z-index:2}.gps-492598816579519711 .mx-auto{margin-left:auto;margin-right:auto}.gps-492598816579519711 .my-0{margin-bottom:0;margin-top:0}.gps-492598816579519711 .mb-0{margin-bottom:0}.gps-492598816579519711 .mt-2{margin-top:8px}.gps-492598816579519711 .block{display:block}.gps-492598816579519711 .flex{display:flex}.gps-492598816579519711 .inline-flex{display:inline-flex}.gps-492598816579519711 .grid{display:grid}.gps-492598816579519711 .hidden{display:none}.gps-492598816579519711 .aspect-square{aspect-ratio:1/1}.gps-492598816579519711 .h-6{height:24px}.gps-492598816579519711 .h-full{height:100%}.gps-492598816579519711 .w-6{width:24px}.gps-492598816579519711 .w-\[12px\]{width:12px}.gps-492598816579519711 .w-full{width:100%}.gps-492598816579519711 .max-w-full{max-width:100%}.gps-492598816579519711 .-translate-x-full{--tw-translate-x:-100%}.gps-492598816579519711 .-translate-x-full,.gps-492598816579519711 .-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-492598816579519711 .translate-x-full{--tw-translate-x:100%}.gps-492598816579519711 .translate-x-full,.gps-492598816579519711 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .translate-y-1\/2{--tw-translate-y:50%}.gps-492598816579519711 .rotate-0{--tw-rotate:0deg}.gps-492598816579519711 .rotate-0,.gps-492598816579519711 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .rotate-180{--tw-rotate:180deg}.gps-492598816579519711 .cursor-pointer{cursor:pointer}.gps-492598816579519711 .flex-row{flex-direction:row}.gps-492598816579519711 .flex-col{flex-direction:column}.gps-492598816579519711 .flex-wrap{flex-wrap:wrap}.gps-492598816579519711 .items-center{align-items:center}.gps-492598816579519711 .justify-center{justify-content:center}.gps-492598816579519711 .gap-2{gap:8px}.gps-492598816579519711 .gap-y-0{row-gap:0}.gps-492598816579519711 .overflow-hidden{overflow:hidden}.gps-492598816579519711 .rounded-full{border-radius:9999px}.gps-492598816579519711 .text-center{text-align:center}.gps-492598816579519711 .leading-\[0\]{line-height:0}.gps-492598816579519711 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-492598816579519711 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-492598816579519711 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492598816579519711 .duration-200{transition-duration:.2s}.gps-492598816579519711 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492598816579519711 .disabled\:cursor-default:disabled{cursor:default}.gps-492598816579519711 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-492598816579519711 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-492598816579519711 .tablet\:-left-4{left:-16px}.gps-492598816579519711 .tablet\:-right-4{right:-16px}.gps-492598816579519711 .tablet\:bottom-1\/2{bottom:50%}.gps-492598816579519711 .tablet\:top-1\/2{top:50%}.gps-492598816579519711 .tablet\:mt-2{margin-top:8px}.gps-492598816579519711 .tablet\:block{display:block}.gps-492598816579519711 .tablet\:\!flex{display:flex!important}.gps-492598816579519711 .tablet\:\!hidden{display:none!important}.gps-492598816579519711 .tablet\:w-full{width:100%}.gps-492598816579519711 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-492598816579519711 .tablet\:-translate-y-1\/2,.gps-492598816579519711 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-492598816579519711 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-492598816579519711 .tablet\:rotate-0,.gps-492598816579519711 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .tablet\:rotate-0{--tw-rotate:0deg}.gps-492598816579519711 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .tablet\:flex-row{flex-direction:row}.gps-492598816579519711 .tablet\:px-0{padding-left:0;padding-right:0}.gps-492598816579519711 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-492598816579519711 .mobile\:-left-4{left:-16px}.gps-492598816579519711 .mobile\:-right-4{right:-16px}.gps-492598816579519711 .mobile\:bottom-1\/2{bottom:50%}.gps-492598816579519711 .mobile\:top-1\/2{top:50%}.gps-492598816579519711 .mobile\:mt-2{margin-top:8px}.gps-492598816579519711 .mobile\:block{display:block}.gps-492598816579519711 .mobile\:\!flex{display:flex!important}.gps-492598816579519711 .mobile\:\!hidden{display:none!important}.gps-492598816579519711 .mobile\:w-full{width:100%}.gps-492598816579519711 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-492598816579519711 .mobile\:-translate-y-1\/2,.gps-492598816579519711 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-492598816579519711 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-492598816579519711 .mobile\:rotate-0,.gps-492598816579519711 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .mobile\:rotate-0{--tw-rotate:0deg}.gps-492598816579519711 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492598816579519711 .mobile\:flex-row{flex-direction:row}.gps-492598816579519711 .mobile\:px-0{padding-left:0;padding-right:0}.gps-492598816579519711 .mobile\:pl-1{padding-left:4px}}.gps-492598816579519711 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-492598816579519711 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-492598816579519711 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492598816579519711 .\[\&_p\]\:inline p{display:inline}.gps-492598816579519711 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492598816579519711 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="ggQqYwQtDF"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:auto;--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggQqYwQtDF mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP9-BxbdTm relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gAIkCMMFSB"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAIkCMMFSB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDFRjUoqD4 relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g5Tu-r3KL- ">
      
    <div
      parentTag="Col"
        class="g5Tu-r3KL- "
        style="--tt:default;--ta:center"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Archivo, Archivo);--weight:600;--ls:normal;--lh:130%;--size:33px;--size-tablet:33px;--size-mobile:29px;word-break:break-word"
        >
        <p>What People Say About GemFit</p>
        </h2>
      </div>
    </div>
      </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gO9bCYvRy8-{{section.id}}" class=" "  gp-data='{"id":"gO9bCYvRy8-{{section.id}}","setting":{"arrow":{"desktop":true,"mobile":false,"tablet":false},"arrowCustom":" <svg width=\"44\" height=\"45\" viewBox=\"0 0 44 45\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M17.8086 14.5586C17.8667 14.5004 17.9356 14.4542 18.0116 14.4227C18.0875 14.3912 18.1689 14.375 18.2511 14.375C18.3333 14.375 18.4147 14.3912 18.4907 14.4227C18.5666 14.4542 18.6356 14.5004 18.6936 14.5586L26.1936 22.0586C26.2518 22.1167 26.298 22.1856 26.3295 22.2616C26.361 22.3375 26.3772 22.4189 26.3772 22.5011C26.3772 22.5833 26.361 22.6647 26.3295 22.7407C26.298 22.8166 26.2518 22.8856 26.1936 22.9436L18.6936 30.4436C18.5763 30.561 18.4171 30.6269 18.2511 30.6269C18.0851 30.6269 17.926 30.561 17.8086 30.4436C17.6913 30.3263 17.6253 30.1671 17.6253 30.0011C17.6253 29.8351 17.6913 29.676 17.8086 29.5586L24.8674 22.5011L17.8086 15.4436C17.7504 15.3856 17.7042 15.3166 17.6727 15.2407C17.6412 15.1647 17.625 15.0833 17.625 15.0011C17.625 14.9189 17.6412 14.8375 17.6727 14.7616C17.7042 14.6856 17.7504 14.6167 17.8086 14.5586Z\" fill=\"#242424\"/> <rect x=\"0.5\" y=\"1\" width=\"43\" height=\"43\" stroke=\"#E0E0E0\"/> </svg>","autoplay":true,"autoplayTimeout":2,"childItem":["Slide 1","Slide 2","Slide 3","Slide 4"],"controlOverContent":{"desktop":false},"dot":{"desktop":false,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"brand"},"dotColor":{"desktop":"bg-1"},"enableDrag":true,"loop":{"desktop":true},"pauseOnHover":true,"slidesToShow":{"desktop":2,"mobile":1,"tablet":2},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":"30"},"width":{"desktop":"300px"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gO9bCYvRy8"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-gO9bCYvRy8-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gPT_Y6HRaH"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gtpZUIIqRJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtpZUIIqRJ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gc1v3nDouw relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ginC_LXs7_ ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gO7abRXKva"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gBpWXu8F5T ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gApVJ3ngFO"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gdw-WaI8P5 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g02P8H1b5b"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gORjYFXFXP ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gR49mVfZvB"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g9EUWV3keM ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gHQ8n65HrV"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gGAovPVs0O "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>I’m in the best shape ever!</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g8364CprNF "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>“I am such a big fan and tell everyone about GemFit. Not only are the workouts amazing but I love the encouragement, honesty and positive vibe I get here!”</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gcS5LedCmA "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>- Kimberly C.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g8BBKO6VWO"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="g7NNRfPNXU"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7NNRfPNXU mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQQ75bnj7y relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="giHW26wX6o ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gS6QzvRBeA"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gVNwZMCj5e ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gJo9bEgCgq"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gd1vdu32Xx ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g24PhaZ6cH"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gSDzCUoTFq ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gCs7fZhEYf"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gflBtlNVdE ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g2zCPKdrgl"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gdzlVHkDip "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>I continue to be amazed by what GemFit can do</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gHOq8aNQL4 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>"Both GemFit in-person and virtual classes have been giving me strength, literally and figuratively. Each class, I feel excited, motivated and challenged in a good way."</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g9JiNQLf0g "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>- Karina J.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- g95N8ekS_D"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gdVOu3fGSS"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdVOu3fGSS mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3HSxRyg0Q relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gwUeSBJBwi ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gtrUdWXBuX"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="glMTat7UAM ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gs5ft5C_U9"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gxZXXXSmsE ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gq_KBix9A1"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g68qU0Rpf_ ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gRnoiDfKxy"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gFn34fVrTb ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g1Zl7oQlom"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gLa8uP7Ru2 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>Can’t say enough about GemFit</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g6AF0pAlEG "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>“I live in NYC and am no stranger to excellent trainers - but the GemFits stand apart. They are a pleasure to be around and motivating as hell.”</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gLdQDt7iAe "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>- Maria F.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gOyIshX3WJ"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="gltdUYFAVq"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gltdUYFAVq mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP_eVdbOOc relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xs);--jc:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gu_P6FNUZk ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g1wneyRHsU"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gUuU10YsXo ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g0YSeF3tFE"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gltJLXAV5w ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gyAL2ZKPma"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gMNXY3FxpW ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g_IKG-Zjfp"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gUjcZpggow ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gRck1Dcj8j"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:14px;--h:14px;--minw:14px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gl48DygM21 "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:19px;--size-tablet:19px;--size-mobile:17px;word-break:break-word"
        >
        <p>Best Workout Ever!</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g_XyNWsM8O "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word"
        >
        <p>"The quality, frequency, and variety of workouts are truly unmatched. You can't leave a GemFit class without feeling infinitely better about yourself."</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g0K3J7_9Es "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, Open Sans);--weight:600;--ls:normal;--lh:150%;--size:13px;--size-tablet:13px;--size-mobile:12px;word-break:break-word"
        >
        <p>- Sylvie M.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gO9bCYvRy8-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!hidden mobile:!hidden left-1 -translate-x-full tablet:-left-4 tablet:translate-x-0 tablet:pl-1 mobile:-left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
     <svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8086 14.5586C17.8667 14.5004 17.9356 14.4542 18.0116 14.4227C18.0875 14.3912 18.1689 14.375 18.2511 14.375C18.3333 14.375 18.4147 14.3912 18.4907 14.4227C18.5666 14.4542 18.6356 14.5004 18.6936 14.5586L26.1936 22.0586C26.2518 22.1167 26.298 22.1856 26.3295 22.2616C26.361 22.3375 26.3772 22.4189 26.3772 22.5011C26.3772 22.5833 26.361 22.6647 26.3295 22.7407C26.298 22.8166 26.2518 22.8856 26.1936 22.9436L18.6936 30.4436C18.5763 30.561 18.4171 30.6269 18.2511 30.6269C18.0851 30.6269 17.926 30.561 17.8086 30.4436C17.6913 30.3263 17.6253 30.1671 17.6253 30.0011C17.6253 29.8351 17.6913 29.676 17.8086 29.5586L24.8674 22.5011L17.8086 15.4436C17.7504 15.3856 17.7042 15.3166 17.6727 15.2407C17.6412 15.1647 17.625 15.0833 17.625 15.0011C17.625 14.9189 17.6412 14.8375 17.6727 14.7616C17.7042 14.6856 17.7504 14.6167 17.8086 14.5586Z" fill="#242424"/> <rect x="0.5" y="1" width="43" height="43" stroke="#E0E0E0"/> </svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gO9bCYvRy8-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!hidden mobile:!hidden right-1 translate-x-full tablet:-right-4 tablet:translate-x-0 tablet:pl-1 mobile:-right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
     <svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8086 14.5586C17.8667 14.5004 17.9356 14.4542 18.0116 14.4227C18.0875 14.3912 18.1689 14.375 18.2511 14.375C18.3333 14.375 18.4147 14.3912 18.4907 14.4227C18.5666 14.4542 18.6356 14.5004 18.6936 14.5586L26.1936 22.0586C26.2518 22.1167 26.298 22.1856 26.3295 22.2616C26.361 22.3375 26.3772 22.4189 26.3772 22.5011C26.3772 22.5833 26.361 22.6647 26.3295 22.7407C26.298 22.8166 26.2518 22.8856 26.1936 22.9436L18.6936 30.4436C18.5763 30.561 18.4171 30.6269 18.2511 30.6269C18.0851 30.6269 17.926 30.561 17.8086 30.4436C17.6913 30.3263 17.6253 30.1671 17.6253 30.0011C17.6253 29.8351 17.6913 29.676 17.8086 29.5586L24.8674 22.5011L17.8086 15.4436C17.7504 15.3856 17.7042 15.3166 17.6727 15.2407C17.6412 15.1647 17.625 15.0833 17.625 15.0011C17.625 14.9189 17.6412 14.8375 17.6727 14.7616C17.7042 14.6856 17.7504 14.6167 17.8086 14.5586Z" fill="#242424"/> <rect x="0.5" y="1" width="43" height="43" stroke="#E0E0E0"/> </svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gO9bCYvRy8-{{section.id}} hidden flex-row w-full mt-2 tablet:!flex tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-492598816579519711 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492598816579519711&template_id=492598816478856415)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
